* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
}

/* ── MAIN GRID ── */
.main-grid {
    padding-top: 70px;
}

.lists-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 20px;
    padding: 20px;
    align-items: start;
    justify-content: center;
}

/* ── TODO CARD ── */
.todo-card {
    padding: 10px;
    min-height: 300px;
    border-radius: 20px;
    box-shadow: 0 3px 8px #0002;
    border: 2px solid #eaeaea;
    background-color: #f5f5f5;
}

/* ── CARD HEADER ── */
.todo-card__header {
    margin-bottom: 20px;
}

/* ── CARD LIST ── */
.todo-card__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    list-style-position: inside;
}

/* ── CARD ITEM ── */
.todo-card__item {
    display: flex;
    align-items: center;
    padding: 0 15px;
    min-height: 45px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #FAFAFA;
    box-shadow: 0 0 5px #0001;
    transition: scale .3s;

    &:hover {
        scale: 1.02;
    }

    &:active {
        cursor: grabbing;
    }
}

/* ── CARD FOOTER ── */
.todo-card__footer {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px #0003;
    background-color: gainsboro;
}

/* ── CARD INPUT ── */
.todo-card__input {
    padding: 0 9px;
    width: 100%;
    border-radius: 20px 0 0 20px;
    font-size: 1rem;
    border: 1px solid #dedede;
}

/* ── CARD ADD BUTTON ── */
.todo-card__add-btn {
    cursor: pointer;
    min-width: 100px;
    border: none;
    background-color: #FAFAFA;
    transition: color .3s, background-color .3s;

    &:hover {
        color: #fefefe;
        background-color: rgba(255, 64, 64, .8);
    }
}

/* ── FAB CONTAINER ── */
.fab-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    min-height: 200px;
    background-color: #f5f5f5;
    border-radius: 8px;
    cursor: pointer;
    transition: scale .3s, background-color .3s;

    &:hover {
        scale: 1.03;
        background-color: #e5e5e5;

        & .fab {
            border-radius: 50%;
            color: #fefefe;
            background-color: rgba(255, 64, 64, .8);
        }
    }
}

/* ── FAB BUTTON ── */
.fab {
    width: 50px;
    height: 50px;
    font-family: 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 15%;
    transition: color .3s, background-color .3s, border-radius .3s;
}

/* ── DIALOG ── */
#myDialog {
    margin: auto;
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    border-radius: 20px;
    border: 2px solid #dedede;
    padding: 20px;
    overflow: hidden;

    transition: transform .3s, opacity .3s;
    transform: scale(0) translateY(500px);
    opacity: 0;

    &[open] {
        transform: scale(1) translateY(0);
        opacity: 1;
        transition: transform .3s, opacity .3s;

        @starting-style {
            opacity: 0;
            transform: scale(0) translateY(500px);
        }
    }
}

#myDialog::backdrop {
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(4px);
    opacity: 0;
    transition: opacity .3s;
}

#myDialog[open]::backdrop {
    opacity: 1;
}


/* ── DIALOG FORM ── */
.dialog-form {
    min-height: 400px;
}

.dialog-form__title {
    text-align: center;
    margin-bottom: 20px;
}

/* ── DIALOG INPUT TEMA ── */
.dialog-form__input {
    width: 100%;
    min-height: 40px;
    padding: 0 9px;
    border-radius: 8px;
    font-size: 1.1rem;
    border: 1px solid #dedede;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* ── FIELDSET OPCIONES ── */
.dialog-form__fielset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 200px;
    border: none;
}

.dialog-form__legend {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.dialog-form__option {
    min-height: 40px;
    border: none;

    & svg {
        width: 25px;
        fill: #dedede;
    }

    & input {
        margin-top: 10px;
        border: none;
        width: 100%;
        min-height: 35px;
        font-size: 1rem;
        padding: 0 9px;
        border-radius: 5px;
        background-color: inherit;
        border: 1px solid #dedede;
    }

    & input:focus {
        outline: none;
        background-color: #f5f5f5;
    }
}

.color-picker {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.color-opt {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: scale .2s, border .2s;

    &:hover {
        scale: 1.1;
    }

    &.selected {
        border: 2px solid #333;
    }
}

/* ── BOTONES DIALOG ── */
.dialog-form__actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* ── CADA BOTÓN DIALOG ── */
.dialog-btn {
    cursor: pointer;
    min-width: 100px;
    min-height: 30px;
    border: none;
    border-radius: 8px;
    background-color: #f2f2f2;
    transition: color .3s, background-color .3s;
}

.dialog-btn--confirm {
    color: #fefefe;
    background-color: rgba(255, 64, 64);
}

span.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
}